{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,  initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base_css.css"/>

    {% block head_block %}
    {% endblock %}


</head>
<body>

<div class="main">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">振动仿真</a>
            </div>

            <div class="btn-group" role="group" aria-label="..." id="base-btn-group">
                <button type="button" class="btn btn-default" id="emulate-begin">仿真开始</button>
                <button type="button" class="btn btn-default"><a href="/vibration/initialize/">参数初始化</a></button>
                <button type="button" class="btn btn-default"><a href="/vibration/equipment_set/">车载设备参数</a></button>
                <button type="button" class="btn btn-default"><a href="/vibration/vibration_func/">振动激励设置</a></button>
                <button type="button" class="btn btn-default"><a href="/vibration/absorber/">减震器添加</a></button>
                <button type="button" class="btn btn-default" id="btn-para-valid">参数检验</button>
                <button type="button" class="btn btn-default" id="btn-simulate">仿真求解</button>
                <button type="button" class="btn btn-default">结果显示</button>
            </div>

        </div><!-- /.container-fluid -->
    </nav>

    {% block content %}
    {% endblock %}

</div>


<script src="/static/jquery/jquery-3.3.1.js"></script>
<script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>

<script>
    $(function () {
        $("#emulate-begin").click(function () {
            // 生成12位随机字符串
            var str = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'];
            var secret_key = "";
            for (var i = 0; i < 12; i++) {
                var id = Math.ceil(Math.random() * 35)
                secret_key += str[id];
            }

            // 将随机字符串保存在cookie中
            {#$("#base-btn-group").attr("secret_key",secret_key);#}

            {#var exp = new Date();#}
            {#exp.setTime(exp.getTime() + 2*60*60*1000);#}
            {#document.cookie = "secret_key" + "="+ escape (secret_key) + ";expires=" + exp.toGMTString();#}

            localStorage.setItem("secret_key", secret_key)

            // 生成csrf的值
            $.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}'}});

            $.ajax({
                url: "/vibration/begin/",
                type: "post",
                data: {
                    "secret_key": secret_key
                },
                success: function (data) {
                    if (data.status == 1) {
                        alert("您已开始一次仿真,请按步骤进行！")
                    } else {
                        alert(data.message)
                    }
                }
            })
        })

        // 单击参数检查按钮，向后端发送ajax请求
        $("#btn-para-valid").click(function () {
            {#var secret_key = $("#base-btn-group").attr("secret_key");#}
            {#var cookie_item = document.cookie.split(";");#}
            {#console.log(document.cookie);#}
            {#var secret_middle = cookie_item[0].split("=");#}
            {#var secret_key = secret_middle[1];#}
            {#console.log(secret_key);#}

            var secret_key = localStorage.getItem("secret_key");

            // 生成csrf的值
            $.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}'}});

            $.ajax({
                url: "/vibration/para_valid/",
                type: "post",
                data: {
                    "secret_key": secret_key
                },
                success: function (data) {
                    alert(data.message)
                }
            })
        })

        // 单击仿真计算按钮，向后端发送ajax请求
        $("#btn-simulate").click(function () {
            {#var secret_key = $("#base-btn-group").attr("secret_key");#}
            var secret_key = localStorage.getItem("secret_key");

            // 生成csrf的值
            $.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}'}});

            $.ajax({
                url: "/vibration/simulate/",
                type: "post",
                data: {
                    "secret_key": secret_key
                },
                success: function (data) {
                    alert(data.message)
                }
            })
        })

    })

</script>


{% block script-content %}
{% endblock %}


</body>
</html>